@import url(http://fonts.googleapis.com/css?family=Lato:300,400);

div.TT_wrapper {
	font-family: 'Lato', sans-serif;

	border: 2px solid #585858;
	border-radius: 3px;

	background-color: #282828;
}
	div.TT_wrapper div.TT_text a {
		color: #999;
		text-decoration: none;
		font-weight: 100;
		border: 0;
	}
		div.TT_wrapper div.TT_text a:hover {
			text-shadow: 0 0 4px #66CCCC;
			color: #999;
		}

	div.TT_wrapper div.TT_footer {
		border-top: 1px solid #CCC;
	}

		div.TT_wrapper div.TT_footer a {
			color: #777;
		}
			div.TT_wrapper div.TT_footer a:hover {
				text-shadow: 0 0 2px #66CCCC;
				color: #888;
			}

	div.TT_wrapper div.TT_tweet_link_wrapper {
		color: #999;		
	}

	div.TT_wrapper div.TT_byline {
		color: #666;
	}
		div.TT_wrapper div.TT_byline a {
			color: #666;
		}
		div.TT_wrapper div.TT_byline a:hover {
			text-shadow: none;
			color: #666;
		}