@import url(//fonts.googleapis.com/css?family=Lato:300,400);

div.TT_wrapper {
	font-family: 'Lato', sans-serif;

	border: 2px solid #CCC;
	border-radius: 3px;

	background-color: #EEE;
}
	div.TT_wrapper div.TT_text a {
		color: #666;
		text-decoration: none;
		font-weight: 300;
		border: 0 none #EEE;
	}
		div.TT_wrapper div.TT_text a:hover {
			text-shadow: 0 0 4px #66CCCC;
			color: #555;
		}

	div.TT_wrapper div.TT_footer {
		border-top: 1px solid #CCC;
	}

		div.TT_wrapper div.TT_footer a {
			color: #666;
		}
			div.TT_wrapper div.TT_footer a:hover {
				text-shadow: 0 0 4px #66CCCC;
				color: #555;
			}

	div.TT_wrapper div.TT_tweet_link_wrapper {
		color: #555;
	}

	div.TT_wrapper div.TT_byline {
		color: #888;
	}
		div.TT_wrapper div.TT_byline a {
			color: #888;
			text-decoration: underline;
		}
		div.TT_wrapper div.TT_byline a:hover {
			text-shadow: none;
		}