div.TT_wrapper {
	font-family: sans-serif;
	padding: 10px;

	margin: 8px 0;
}
	div.TT_wrapper div.TT_text {
		font-size: 26px;	
	}
	div.TT_wrapper div.TT_tweet_link_wrapper {
		text-align: right;

		display: block;
		max-width: 45%;
		float: right;		

		padding: 2px 5px;
	}
		div.TT_wrapper div.TT_tweet_link_wrapper img {
			max-width: 50px;
			max-height: 25px;

			margin-right: 2px;
		}

	div.TT_wrapper div.TT_byline {
		display: block;
		max-width: 45%;
		float: left;

		font-size: 11px;

		padding-top: 7px;
	}

	div.TT_wrapper div.TT_footer {		
		padding: 4px 0 0 0;
		margin-top: 8px;
	}